@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
    --header-one: 2.441em;
    --header-two: 1.563em;
    --header-three: 1.25em;
    --regular: 1em;
    --tagline: 0.8em;
    --primary: #CE1F3A;
}

.container-body {
  /* background: #23c2c2; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* NAVBAR */
.navbar {
  grid-column: 1 / -1;
  background: #fff;
  z-index: 200;
  position: sticky;
  left: 0;
  top:0;
}

.content {
  padding: 1em 10%;
  min-height: 300px;
  grid-column: 1 / -1;
}

.navbar .container-navbar {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand {
  width: 20%;
  cursor: pointer
}

.navbar .navbar-nav {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar .nav-item {
  padding: 8px;
  color: #000;
}

.navbar .nav-link {
  text-decoration: none;
  font-size: var(--header-three);
  color: #000;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.navbar .nav-link:hover{
  color: var(--primary);
}

/* FOOTER */
.main-footer {
  background: #000;
  color: #fff;
  grid-column: 1 / -1;
}

.main-footer .container-footer {
  padding: 5% 10%;
}

.container-footer .header-footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  justify-items: left;
}

.container-footer .header-footer .title-footer {
  font-size: var(--header-one);
  font-family: 'Poppins', sans-serif;
  text-align: left;
  text-transform: uppercase;
}

.container-footer .header-footer .text-footer {
  font-size: var(--regular);
  font-weight: 300;
  text-align: left;
}

.container-footer .body-footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: left;
  gap: 1em;
  padding: 2em 0;
}

.container-footer .body-footer .contact-body-footer{
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
}

.container-footer .body-footer .contact-item {
  padding: 0 8px 0 0;
}

.container-footer .body-footer .contact-link {
  text-decoration: none;
  color: #fff;
}

.container-footer .copyright-footer {
  font-size: var(--tagline);
  font-weight: 300;
}

/* SIDEBAR */

#sidebar {
  z-index: 300;
  background: #ffffffe8;
  position: fixed;
  width: 500px;
  height: 100vh;
  right: -530px;
  box-shadow: -10px 0px 20px -5px #0000007a;
  transition:all 800ms cubic-bezier(0.94, 0.51, 0, 1.06);
}

#sidebar .container-sidebar {
  display: grid;
}

#sidebar .container-toggle-close {
  display: flex;
  justify-content: right;
  padding: 20px;
}

#sidebar .container-toggle-close img {
  width: 10%;
  cursor: pointer;
  transition:all 0.2s ease-in-out;
}


#sidebar .main-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

#sidebar .main-sidebar .nav-sidebar {
  list-style: none;
  padding: 20%
}

#sidebar .main-sidebar .nav-sidebar .item-nav .item-link {
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  transition: all .2s ease-in-out;
}

#sidebar .main-sidebar .nav-sidebar .item-nav .item-link:hover {
  font-size: 1.8em;
  font-weight: 600;
  text-decoration: none;
  color: var(--primary);
}

#sidebar.active {
  right: 0;
}





/* 360PX */

@media only screen and (max-width:400px) {
  .navbar .navbar-brand {
    width: 40%;
  }

  .container-footer .header-footer .title-footer {
    font-size: var(--header-two);
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }

  .container-footer .header-footer .text-footer {
    font-size: var(--tagline);
    font-weight: 300;
    text-align: left;
  }

  .container-footer .body-footer .contact-body-footer{
    display: flex;
    align-items: center;
    list-style: none;
  }

  .container-footer .body-footer .contact-link {
    text-decoration: none;
    color: #fff;
    font-size: var(--tagline);
  }

  .container-footer .body-footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    gap: 1em;
    padding: 2em 0;
  }

  #sidebar.active {  
    right: 0;
    width: 100vw;
    background: #fff;
  }
  
}